---
import ProjectsIcon from "./icons/Projects.astro";
---

<div>
  <div class="flex gap-4 items-center">
    <ProjectsIcon class="size-8 text-neutral-100" />
    <h2 class="text-3xl font-bold text-neutral-100">Projects</h2>
  </div>
</div>
